body {
    background-image: url(../odin-recipes/images/fondo-website.jpg);
    font-family: "Arial", "Verdana", sans-serif;
}

.inicio {
    display: flex;
}

.autor {
    color: white;
}

.contacto {
    text-align: right;
}

.inicio > div {
    flex: 1;
}

#title {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 5px 0 15px 0;
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
}

#image {
    width: 450px;
    height: auto;
    flex: 0 1 0;
    min-width: none;
}

.links .text {
    font-size: 25px;
    color: white;
    font-weight: 400px;
    text-align: center;
    display: block;
    display: flex;
}

.text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text:last-child {
    margin-bottom: 33px;
}