body {
    background-image: url(../odin-recipes/images/fondo-website.jpg);
    font-family: "Arial", "Verdana", sans-serif;
}

#title {
    font-size: 50px;
    color: white;
    text-align: center;
    margin: 5px 0 5px 0;
}

#image {
    width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.links .text {
    font-size: 25px;
    color: white;
    font-weight: 400px;
    text-align: center;
    display: block;
}

li {
    text-align: center;
    display: block;
}